<header id="header" class="header d-flex align-items-center fixed-top">
  <div class="container-fluid container-xl position-relative d-flex align-items-center">

    <a routerLink="/" class="logo d-flex align-items-center me-auto">
      <h1 class="sitename">CodingFactory</h1>
    </a>

    <nav id="navmenu" class="navmenu">
      <ul>
        <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
        <li><a routerLink="/about" routerLinkActive="active">About</a></li>
        <li><a routerLink="/services" routerLinkActive="active">Services</a></li>
        <li><a routerLink="/consulting" routerLinkActive="active">Consulting Hub</a></li>
        <li><a routerLink="/e-formation" routerLinkActive="active">E-Formation Hub</a></li>
        @if (isLoggedIn()) {
          <li><a routerLink="/mes-formations" routerLinkActive="active">Mes Formations</a></li>
        }
        @if (isLoggedIn()) {
          <li><a routerLink="/mes-demandes" routerLinkActive="active">Mes Demandes</a></li>
        }
        <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
      </ul>
      <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
    </nav>

    @if (isLoggedIn()) {
      <a class="cta-btn" (click)="logout()" style="cursor: pointer;">Log out</a>
    } @else {
      <a class="cta-btn" routerLink="/register">Get Started</a>
    }

  </div>
</header>
