.portfolio-filters {
  li {
    cursor: pointer;
  }
}

.pagination {
  .page-link {
    cursor: pointer;
  }
}

#formations-catalogue {
  .portfolio-content img {
    width: 100%;
    height: 320px;
    object-fit: cover;
  }
}
